body {
  font-size: 14px;
}
.main-layout {
  background-color: $body-bg;
  padding: 3rem;
  height: 100vh;
  @include media-breakpoint-down(sm) {
    padding: 2rem 1rem;
  }
}
.modal-title {
  font-size: 16px;
}
